body,
h3,
p {
  padding: 0;
  margin: 0;
}

.first {
  background-color: orangered;
  color: black;
  font-size: xx-large;
  text-align: center;
}

.second {
    background-color: darkgray;
    color: black;
    font-size: x-large;
    text-align: center;
}
